:root {
  --medium-slate-blue: #955df1;
  --color: #e083ff;
  --white: white;
  --black: black;
  --blue-violet: #6e2ed8;
  --dim-grey: #6b6b6b;
  --663399: #602bb6;
  --deep-pink: #fc0a7e;
  --medium-violet-red: #b32e6e;
}

h1 {
  color: #fff;
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 10vh;
  font-weight: 700;
  line-height: 10vh;
}

h2 {
  color: #fff;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 38px;
  font-weight: 700;
  line-height: 48px;
}

h3 {
  color: #6b6b6b;
  margin-top: 10px;
  margin-bottom: 25px;
  font-size: 24px;
  font-weight: 400;
  line-height: 40px;
}

h4 {
  color: #fff;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}

p {
  color: #6b6b6b;
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 30px;
}

a {
  color: #000;
  text-decoration: underline;
}

.section {
  width: 100%;
  height: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.section.center {
  height: 100vh;
  background-color: #245821;
  background-image: linear-gradient(326deg, #7fff8c, #fff);
  background-position: 0 0;
  background-repeat: repeat;
  background-size: auto;
  background-attachment: scroll;
  justify-content: center;
  align-items: flex-start;
  padding-top: 0;
  display: flex;
  position: relative;
}

.section.column {
  height: auto;
  justify-content: space-between;
  padding: 15vh 10vw;
  display: flex;
}

.section.column.devices {
  height: auto;
  flex-direction: column;
  align-items: center;
}

.section.column.faq {
  height: auto;
  background-color: #000;
  flex-direction: column;
  align-items: center;
}

.section.cta {
  height: 60vh;
  background-color: #40089c;
  justify-content: space-between;
  align-items: center;
  padding-left: 10vw;
  padding-right: 10vw;
  display: flex;
}

.section.full-img {
  height: auto;
  background-color: rgba(0, 0, 0, 0);
  justify-content: center;
  align-items: center;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
}

.section.wide {
  height: auto;
  background-color: #1b1b1b;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 10vh;
  padding-bottom: 10vh;
  display: flex;
}

.section.wide.img {
  color: var(--medium-slate-blue);
  background-image: url('../images/wavy-background.svg'), linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5));
  background-position: 0 0, 0 0;
  background-size: auto, auto;
  padding-bottom: 0;
}

.section.wide.purple {
  background-image: url('../images/wavy-bg.svg'), linear-gradient(349deg, var(--medium-slate-blue) 26%, #e1d1fb 59%, white 69%);
  color: var(--color);
  background-position: 50%, 0 0;
  background-size: cover, auto;
  padding-top: 15vh;
  padding-bottom: 15vh;
}

.section.grid-imgs {
  height: 50vh;
  flex-wrap: wrap;
  justify-content: flex-start;
  display: flex;
}

.col {
  max-width: 50%;
  border: 1px #000;
  flex: 1;
  justify-content: flex-start;
  align-items: center;
  padding-left: 0;
  display: flex;
}

.col.sideimg {
  width: 25vw;
  flex: 0 auto;
}

.col.padding {
  max-width: 50%;
  border-style: none;
  flex: 1;
  padding-left: 9vw;
  padding-right: 9vw;
}

.col.bg {
  border-style: none;
  align-items: flex-start;
  overflow: hidden;
}

.col.vertical {
  flex-direction: column;
}

.col.team {
  flex-basis: 33%;
}

.col.img {
  justify-content: center;
}

.hero {
  z-index: 999999;
  width: 100%;
  height: auto;
  background-color: var(--white);
  border: 1px #000;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding: 0 10vw;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
}

.nav {
  height: auto;
  background-color: rgba(0, 0, 0, 0);
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.nav-inner {
  width: 80vw;
  background-color: var(--white);
  border-bottom: 1px rgba(255, 255, 255, .1);
  justify-content: space-between;
  align-items: center;
  padding-top: 0;
  padding-bottom: 0;
  display: flex;
}

.body {
  background-color: rgba(0, 0, 0, 0);
  font-family: Gothic A1, sans-serif;
}

.heading {
  color: #fff;
  margin-top: 10px;
  margin-bottom: 0;
  font-size: 10vh;
  font-weight: 500;
  line-height: 9vh;
}

.div-block-2 {
  z-index: 80;
  width: 80vw;
  flex-direction: column;
  align-items: flex-start;
  display: flex;
  position: relative;
}

.image {
  height: 40px;
  margin-bottom: 20px;
}

.feature-content {
  width: 50vw;
  max-width: 450px;
  border: 1px #000;
  flex-direction: column;
  flex: none;
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 4vw;
  padding-right: 4vw;
  display: flex;
}

.feature-content.mid {
  width: 40vw;
  max-width: 500px;
}

.feature-content.icons {
  width: 33.33%;
  max-width: none;
  text-align: center;
  flex-direction: column;
  flex: none;
  align-items: center;
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
}

.feature-content.icons.numbers {
  width: 25%;
}

.heading-2 {
  color: #fff;
  margin-top: 20px;
  margin-bottom: 40px;
  font-size: 26px;
  font-weight: 400;
}

.button {
  color: #fff;
  text-align: center;
  background-color: #000c06;
  border-radius: 3px;
  margin-right: 0;
  padding: 20px 40px;
  font-size: 16px;
  font-weight: 600;
  line-height: 26px;
  transition: background-color .5s cubic-bezier(.789, .159, .25, 1), color .2s cubic-bezier(.789, .159, .25, 1);
  display: inline-block;
}

.button:hover {
  color: #6b6b6b;
  background-color: #fff;
}

.button.outline {
  color: #5a5a5a;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #6e6e6e;
  margin-left: 10px;
}

.button.contact {
  background-color: rgba(0, 0, 0, 0);
  margin-left: 10px;
  display: none;
  box-shadow: inset 0 0 0 2px rgba(255, 255, 255, .2);
}

.button.contact:hover {
  color: #fff;
  box-shadow: inset 0 0 0 2px #fff;
}

.button.top {
  margin-left: 30px;
  padding: 20px 35px;
  font-size: 16px;
}

.button.form-button {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  transition-timing-function: cubic-bezier(.215, .61, .355, 1), cubic-bezier(.215, .61, .355, 1);
}

.button.form-button:hover {
  color: #fff;
  background-color: #000;
}

.h2 {
  color: #fff;
  margin-bottom: 30px;
  font-size: 44px;
  font-weight: 300;
  line-height: 56px;
}

.p {
  color: #6b6b6b;
  font-size: 16px;
  line-height: 30px;
}

.p.list {
  margin-bottom: 0;
}

.div-block-3 {
  height: 8600px;
  background-image: url('../images/richard-01.jpg');
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-size: 100vw;
}

.div-block-3._02 {
  background-image: url('../images/richard-02.jpg');
  background-size: 100vw;
}

.div-block-3._03 {
  height: 6000px;
  background-image: url('../images/richard-03.jpg');
  background-size: 100vw;
}

.div-block-4 {
  width: 65%;
  max-width: 440px;
  flex-direction: column;
  align-items: center;
  display: flex;
}

.div-block-4.left {
  align-items: flex-start;
  margin-bottom: 30px;
}

.img-device {
  height: auto;
  max-height: 450px;
}

.h3 {
  color: #fff;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 500;
}

.paragraph {
  color: #6b6b6b;
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 28px;
}

.div-block-5 {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 60px;
}

.wrapper {
  width: 90%;
  max-width: 1200px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.wrapper.welcome {
  z-index: 90;
  width: 100vw;
  align-items: flex-start;
  position: relative;
}

.wrap {
  max-width: 700px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 40px;
}

.title {
  color: #a8a8a8;
  letter-spacing: 2px;
  text-transform: uppercase;
  border-bottom: 1px #2e2e2e;
  padding-bottom: 5px;
  font-size: 12px;
  display: inline-block;
}

.title.white {
  color: rgba(255, 255, 255, .6);
  border-bottom-color: rgba(255, 255, 255, .4);
}

.image-2 {
  aspect-ratio: auto;
  flex: none;
  position: static;
}

.div-block-6 {
  align-items: center;
  display: flex;
}

.div-block-7 {
  width: 100%;
  justify-content: space-between;
  align-items: flex-start;
  padding-bottom: 100px;
  display: flex;
}

.div-block-7.team {
  flex-wrap: wrap;
  justify-content: center;
}

.div-block-8 {
  width: auto;
  height: 150px;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  display: flex;
}

.button-wrap {
  width: auto;
  justify-content: center;
  margin-top: 5vh;
  padding-left: 0;
  padding-right: 0;
  display: flex;
}

.image-3 {
  padding: 10px 30px 30px 0;
}

.thumb-food {
  width: 100%;
  height: 300px;
  background-color: #c6ced3;
  border-radius: 20px;
}

.thumb-food._01 {
  background-image: url('../images/bg-001_1.jpg');
  background-position: 50%;
  background-size: cover;
  border-radius: 12px;
}

.thumb-food._02 {
  background-image: url('../images/bg-001.jpg');
  background-position: 50%;
  background-size: cover;
}

.thumb-food._03 {
  background-image: url('../images/bg-003.jpg');
  background-position: 0 0;
  background-size: cover;
}

.text-block {
  color: #fff;
}

.h4 {
  color: #fff;
  margin-bottom: 10px;
}

.h4.faq {
  margin-top: 20px;
  margin-bottom: 10px;
}

.nav-link {
  background-color: var(--white);
  color: #000;
  flex: 0 auto;
  margin-bottom: 20px;
  margin-left: 15px;
  margin-right: 15px;
  padding-top: 40px;
  padding-left: 0;
  padding-right: 0;
  font-size: 16px;
  font-weight: 400;
}

.nav-link:hover {
  color: #fff;
  box-shadow: inset 0 -5px #fc0a7e;
}

.nav-menu {
  height: auto;
}

.div-block-11 {
  width: 100%;
  height: 300px;
  background-color: #acb1b4;
  border-radius: 20px;
}

.ico {
  height: 35px;
  margin-right: 20px;
}

.div-block-12 {
  margin-top: 50px;
}

._w-icon {
  width: 56px;
  height: 80px;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  display: flex;
}

.form {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.field-newsletter {
  width: 340px;
  height: 80px;
  color: #fff;
  background-color: #300479;
  border: 1px solid #300479;
  border-radius: 10px;
  margin-bottom: 0;
  margin-right: 20px;
  padding-left: 20px;
  font-size: 16px;
}

._w-img {
  flex: 1;
  overflow: hidden;
}

.image-4 {
  width: 100%;
  display: block;
}

.icon {
  height: 25px;
}

.nav-list {
  justify-content: space-between;
  margin-right: 30px;
  display: flex;
}

.hero-image {
  height: 85vh;
  position: absolute;
  bottom: 0;
  right: 3vw;
}

.light-blue {
  color: #9b68f0;
}

.black-text {
  color: #000;
}

.hero-content {
  z-index: 90;
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 10vw;
  padding-right: 10vh;
  display: flex;
  position: relative;
}

.feature-wrap {
  width: 90vw;
  border: 1px #000;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 10vh;
  margin-bottom: 10vh;
  padding-left: 10vw;
  padding-right: 10vw;
  display: flex;
}

.feature-wrap.reverse {
  flex-direction: row-reverse;
}

.feature-wrap.logos {
  height: auto;
  border-style: none;
  padding-top: 5vh;
  padding-bottom: 5vh;
}

.feature-wrap.icons {
  justify-content: space-between;
  padding-left: 0;
  padding-right: 0;
}

.feature-image {
  width: 50vw;
  border: 1px #000;
  justify-content: center;
  align-items: center;
  display: flex;
}

.black {
  color: #000;
}

.hero-subhead {
  max-width: 60%;
  color: #000;
  -webkit-text-stroke-color: #fff;
  font-size: 30px;
  line-height: 44px;
}

.bottom-image-wrap {
  height: auto;
  max-width: 100%;
  background-color: var(--white);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
  overflow: hidden;
}

.black-bar {
  width: 100vw;
  height: 100px;
  background-color: #2a2326;
  position: absolute;
  top: 0;
  left: 0;
}

.feature-icon {
  height: 35px;
  mix-blend-mode: color;
  margin-bottom: 30px;
}

.purple {
  color: #b32e6e;
}

.footer {
  background-color: #1b1b1b;
  justify-content: center;
  align-items: center;
  display: flex;
}

.footer-link {
  color: #6b6b6b;
  margin-left: 15px;
  margin-right: 15px;
  font-size: 12px;
  text-decoration: none;
}

.footer-link:hover {
  color: #fff;
}

.footer-list {
  padding-top: 29px;
  padding-bottom: 29px;
}

.text-block-2 {
  color: rgba(255, 255, 255, .3);
  font-size: 12px;
}

.form-2 {
  margin-top: 40px;
  display: flex;
}

.input {
  height: 70px;
  clear: none;
  color: #000;
  background-color: #fff;
  border-style: none;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  flex: 0 auto;
  margin-bottom: 0;
  padding-left: 20px;
  padding-right: 0;
  transition: box-shadow .3s cubic-bezier(.215, .61, .355, 1);
  box-shadow: inset 0 0 #fc0a7e;
}

.input:hover, .input:focus {
  box-shadow: inset 0 0 0 2px #fc0a7e;
}

.input::-ms-input-placeholder {
  color: #555;
}

.input::placeholder {
  color: #555;
}

.arrow {
  margin-left: auto;
  margin-right: auto;
  display: block;
  position: absolute;
  bottom: 30px;
  left: 0;
  right: 0;
}

.quote-slider {
  width: 90vw;
  height: 60vh;
  background-color: rgba(0, 0, 0, 0);
  margin-top: 10vh;
}

.slider-arrow {
  color: #d6d6d6;
}

.quote-wrap {
  width: 50vw;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.quote-attribution {
  justify-content: center;
  align-items: center;
  display: flex;
}

.quote-dash {
  width: 30px;
  height: 1px;
  background-color: #d3d3d3;
  flex: none;
  margin-bottom: 10px;
  margin-left: 20px;
  margin-right: 20px;
}

.quote-icon {
  margin-bottom: 45px;
}

.slide-nav {
  font-size: 7px;
}

.number {
  width: auto;
  font-size: 50px;
  font-weight: 600;
  line-height: 90px;
}

.float {
  width: 40vw;
  height: 50vh;
  border: 4px solid #09a4ec;
  position: relative;
  top: 200px;
  left: 567px;
}

.nav-logo-wrap {
  flex: none;
}

.nav-menu-2 {
  color: #76e950;
  border-radius: 0;
}

.brand {
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  display: flex;
}

.image-licensing {
  background-color: rgba(0, 0, 0, .05);
  border: 1px solid rgba(0, 0, 0, .1);
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 15px;
  line-height: 24px;
}

.image-licensing-wrap {
  max-width: 600px;
  flex: 1;
}

.heading-3 {
  width: auto;
  height: auto;
  max-width: 0;
  color: var(--black);
  -webkit-text-stroke-color: var(--white);
  flex: 0 auto;
  order: -1;
  align-self: flex-start;
  margin-bottom: auto;
  margin-right: auto;
  padding-left: 0;
  font-family: Lato, sans-serif;
  font-weight: 600;
}

.image-5 {
  text-align: center;
  background-color: #000;
  border: 1px dotted #000;
  border-radius: 20px;
  margin-bottom: auto;
  padding-top: 0;
  transition: border-radius 1s;
}

.image-6 {
  max-width: none;
  background-color: #0a0000;
}

.image-7 {
  margin-left: -200px;
}

.heading-4 {
  color: #000;
}

.navbar-logo-center {
  background-color: #e59cff;
  background-image: linear-gradient(359deg, var(--color), white), linear-gradient(180deg, black, white);
  color: #000;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 0;
  display: flex;
}

.navbar-logo-center-container {
  z-index: 5;
  width: 1030px;
  max-width: 100%;
  background-color: rgba(0, 0, 0, 0);
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}

.navbar-logo-center-container.shadow-three {
  width: 100%;
  max-width: 1140px;
}

.container {
  width: 100%;
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
}

.navbar-wrapper-three {
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
}

.navbar-brand-three {
  z-index: 5;
  position: absolute;
}

.nav-menu-wrapper-three {
  width: 100%;
}

.nav-menu-three {
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 0;
  display: flex;
}

.nav-menu-block {
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
  display: flex;
}

.nav-link-2 {
  color: #1a1b1f;
  letter-spacing: .25px;
  margin-left: 5px;
  margin-right: 5px;
  padding: 5px 10px;
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
}

.nav-link-2:hover {
  color: rgba(26, 27, 31, .75);
}

.nav-link-2:focus-visible {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 4px;
  outline: 2px solid #0050bd;
}

.nav-link-2[data-wf-focus-visible] {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 4px;
  outline: 2px solid #0050bd;
}

.nav-dropdown {
  margin-left: 5px;
  margin-right: 5px;
}

.nav-dropdown-toggle {
  letter-spacing: .25px;
  padding: 5px 30px 5px 10px;
  font-size: 14px;
  line-height: 20px;
}

.nav-dropdown-toggle:hover {
  color: rgba(26, 27, 31, .75);
}

.nav-dropdown-toggle:focus-visible {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 5px;
  outline: 2px solid #0050bd;
}

.nav-dropdown-toggle[data-wf-focus-visible] {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 5px;
  outline: 2px solid #0050bd;
}

.nav-dropdown-icon {
  margin-right: 10px;
}

.nav-dropdown-list {
  background-color: #fff;
  border-radius: 12px;
}

.nav-dropdown-list.w--open {
  padding-top: 10px;
  padding-bottom: 10px;
}

.nav-dropdown-link {
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 14px;
}

.nav-dropdown-link:focus-visible {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 5px;
  outline: 2px solid #0050bd;
}

.nav-dropdown-link[data-wf-focus-visible] {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 5px;
  outline: 2px solid #0050bd;
}

.nav-link-accent {
  color: #1a1b1f;
  letter-spacing: .25px;
  margin-left: 5px;
  margin-right: 20px;
  padding: 5px 10px;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  text-decoration: none;
}

.nav-link-accent:hover {
  color: rgba(26, 27, 31, .75);
}

.button-primary {
  color: #fff;
  letter-spacing: 2px;
  text-transform: uppercase;
  background-color: #1a1b1f;
  padding: 12px 25px;
  font-size: 12px;
  line-height: 20px;
  transition: all .2s;
}

.button-primary:hover {
  color: #fff;
  background-color: #32343a;
}

.button-primary:active {
  background-color: #43464d;
}

.text-block-3 {
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  display: flex;
}

.text-block-4 {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: 19px;
  display: flex;
}

.image-8 {
  aspect-ratio: auto;
  object-fit: fill;
}

.submit-button {
  background-color: var(--medium-slate-blue);
  color: var(--white);
}

.field-label {
  color: var(--black);
}

.heading-5 {
  color: #000;
  font-family: Great Vibes, cursive;
  font-size: 5vh;
}

.heading-6 {
  font-family: Great Vibes, cursive;
  font-size: 68px;
}

.bold-text {
  line-height: 33px;
}

.field-label-2 {
  color: var(--black);
}

.form-3 {
  font-size: 18px;
  line-height: 33px;
}

.gallery-slider {
  border-bottom: 1px solid #e4ebf3;
  margin-top: -84px;
  margin-bottom: -48px;
  padding: 241px 0 316px 30px;
  position: relative;
}

.container-2 {
  width: 100%;
  max-width: 940px;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.gallery-wrapper {
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  align-items: start;
  display: grid;
}

.gallery-block {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.gallery-slide {
  height: auto;
  background-color: rgba(0, 0, 0, 0);
}

.gallery-slide-wrapper {
  max-width: 47%;
  margin-right: 6%;
}

.gallery-slide-image {
  position: relative;
}

.gallery-image {
  width: 100%;
}

.gallery-slide-text {
  color: #f5f7fa;
  margin-bottom: 0;
  line-height: 32px;
  position: absolute;
  bottom: 24px;
  left: 24px;
  right: 24px;
}

.gallery-slider-left {
  width: 40px;
  justify-content: center;
  align-items: center;
  display: flex;
  left: -50px;
}

.gallery-slider-left:focus-visible {
  outline-offset: 0px;
  border-radius: 5px;
  outline: 2px solid #0050bd;
}

.gallery-slider-left[data-wf-focus-visible] {
  outline-offset: 0px;
  border-radius: 5px;
  outline: 2px solid #0050bd;
}

.slider-arrow-embed {
  color: #1a1b1f;
}

.gallery-slider-right {
  width: 40px;
  justify-content: center;
  align-items: center;
  display: flex;
  right: -50px;
}

.gallery-slider-right:focus-visible {
  outline-offset: 0px;
  border-radius: 5px;
  outline: 2px solid #0050bd;
}

.gallery-slider-right[data-wf-focus-visible] {
  outline-offset: 0px;
  border-radius: 5px;
  outline: 2px solid #0050bd;
}

.gallery-slide-nav {
  display: none;
}

.heading-7 {
  padding-top: 0;
}

.gallery-scroll {
  background-color: #f5f7fa;
  border-bottom: 1px solid #e4ebf3;
  padding: 80px 30px;
  position: -webkit-sticky;
  position: sticky;
}

.gallery-sticky {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
  position: -webkit-sticky;
  position: sticky;
  top: 80px;
}

.gallery-link {
  color: #1a1b1f;
  margin-bottom: 35px;
  font-size: 24px;
  line-height: 32px;
  text-decoration: none;
}

.gallery-link:hover {
  color: rgba(26, 27, 31, .8);
}

.gallery-link.w--current {
  font-weight: 600;
}

.gallery-grid {
  grid-row-gap: 40px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.gallery-image-wrapper {
  position: relative;
}

.gallery-image-text {
  color: #f5f7fa;
  margin-bottom: 0;
  position: absolute;
  bottom: 16px;
  left: 16px;
  right: 16px;
}

.section-2 {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  display: flex;
}

.heading-8 {
  color: #000;
}

.section-3 {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background-color: var(--white);
  flex: 0 auto;
  order: 1;
  grid-template: "Area Area-2"
                 "Area-3 Area-4"
                 / 1fr 1fr;
  grid-auto-columns: 1fr;
  grid-auto-flow: row;
  align-content: center;
  justify-content: center;
  align-self: stretch;
  align-items: center;
  justify-items: center;
  padding-right: 0;
  display: grid;
}

.heading-9 {
  color: #000;
  font-family: Great Vibes, cursive;
  position: static;
}

.section-4 {
  background-color: var(--color);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.form-4 {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 34px;
  padding-right: 0;
  display: flex;
}

.submit-button-2 {
  background-color: var(--medium-slate-blue);
}

.field-label-3, .field-label-4 {
  color: var(--black);
}

.heading-10 {
  color: var(--black);
  padding-bottom: 0;
}

@media screen and (max-width: 991px) {
  h2 {
    font-size: 34px;
    line-height: 44px;
  }

  h3 {
    font-size: 20px;
    line-height: 32px;
  }

  .section.center {
    height: auto;
    flex-direction: column;
    padding-top: 15vh;
  }

  .hero {
    padding-left: 0;
    padding-right: 0;
  }

  .nav, .nav-inner {
    width: 100vw;
  }

  .nav-link {
    padding-top: 20px;
  }

  .nav-link:hover {
    box-shadow: none;
  }

  .nav-menu {
    position: absolute;
  }

  .hero-image {
    width: 70%;
    height: auto;
    margin-bottom: 7vw;
    margin-left: auto;
    margin-right: auto;
    display: block;
    position: relative;
    top: auto;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .hero-content {
    padding-left: 5vw;
    padding-right: 5vw;
  }

  .feature-wrap {
    margin-top: 5vh;
    margin-bottom: 5vh;
    padding-left: 0;
    padding-right: 0;
  }

  .feature-wrap.logos {
    margin-top: 5vh;
    margin-bottom: 5vh;
  }

  .hero-subhead {
    font-size: 24px;
    line-height: 31px;
  }

  .bottom-image-wrap {
    height: auto;
    background-image: none;
  }

  .feature-icon {
    flex: none;
  }

  .quote-slider {
    width: 100vw;
    height: auto;
    min-height: 500px;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .quote-wrap {
    width: 70vw;
  }

  .menu-icon {
    color: #fff;
    font-size: 40px;
  }

  .menu-button.w--open {
    background-color: #000;
  }

  .nav-menu-2 {
    min-width: 240px;
    background-color: #000;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .brand {
    padding-left: 18px;
  }

  .heading-3 {
    font-size: 8vw;
  }

  .container {
    max-width: 728px;
  }

  .navbar-wrapper-three {
    justify-content: space-between;
  }

  .navbar-brand-three {
    position: relative;
  }

  .nav-menu-wrapper-three {
    background-color: rgba(0, 0, 0, 0);
    top: 70px;
  }

  .nav-menu-three {
    background-color: #fff;
    border-radius: 50px;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    padding: 20px;
    display: flex;
    box-shadow: 0 8px 50px rgba(0, 0, 0, .05);
  }

  .nav-link-2 {
    padding-left: 5px;
    padding-right: 5px;
  }

  .nav-dropdown-list.shadow-three.w--open {
    position: absolute;
  }

  .menu-button-2 {
    padding: 12px;
  }

  .menu-button-2.w--open {
    color: #fff;
    background-color: #a6b1bf;
  }

  .container-2 {
    max-width: 728px;
  }

  .gallery-wrapper {
    grid-template-columns: 1fr 1fr;
  }

  .gallery-slider-left {
    left: -20px;
  }

  .gallery-slider-right {
    right: -20px;
  }

  .gallery-sticky {
    position: relative;
    top: 0;
  }
}

@media screen and (max-width: 767px) {
  h2 {
    font-size: 28px;
    line-height: 38px;
  }

  .feature-content.icons {
    width: auto;
    text-align: left;
    align-items: flex-start;
    padding-bottom: 30px;
    padding-left: 0;
    padding-right: 0;
  }

  .feature-content.icons.numbers {
    width: 50%;
    flex: none;
    align-items: center;
  }

  .button.form-button {
    border-top-right-radius: 0;
    border-bottom-left-radius: 3px;
  }

  .wrap {
    width: 100%;
    max-width: none;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    padding-left: 15vw;
    padding-right: 15vw;
    display: flex;
  }

  .hero-image {
    margin-bottom: 10vw;
  }

  .hero-content {
    margin-bottom: 5vh;
  }

  .feature-wrap {
    flex-direction: row;
  }

  .feature-wrap.icons {
    flex-flow: wrap;
    display: block;
  }

  .feature-wrap.icons.numbers {
    display: flex;
  }

  .footer-link {
    margin-bottom: 10px;
    display: inline-block;
  }

  .form-2 {
    flex-direction: column;
  }

  .input {
    text-align: center;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 0;
    padding-left: 22px;
    padding-right: 22px;
  }

  .quote-attribution {
    flex-direction: row;
    align-items: center;
  }

  .menu-icon {
    font-size: 30px;
  }

  .form-block {
    width: 100%;
  }

  .navbar-brand-three {
    padding-left: 0;
  }

  .nav-menu-three {
    border-radius: 20px;
    flex-direction: column;
    padding-bottom: 30px;
  }

  .nav-menu-block {
    flex-direction: column;
  }

  .nav-link-2 {
    padding-top: 10px;
    padding-bottom: 10px;
    display: inline-block;
  }

  .nav-dropdown {
    flex-direction: column;
    align-items: center;
    display: flex;
  }

  .nav-dropdown-toggle {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .nav-dropdown-list.shadow-three {
    box-shadow: 0 8px 50px rgba(0, 0, 0, .05);
  }

  .nav-dropdown-list.shadow-three.w--open {
    position: relative;
  }

  .nav-dropdown-list.shadow-three.mobile-shadow-hide {
    box-shadow: none;
  }

  .nav-link-accent {
    margin-right: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: inline-block;
  }

  .mobile-margin-top-10 {
    margin-top: 10px;
  }

  .gallery-slider {
    padding: 60px 15px;
  }

  .gallery-slide {
    margin-left: 10px;
    margin-right: 10px;
  }

  .gallery-slide-text {
    line-height: 30px;
  }

  .gallery-slider-left {
    left: -20px;
  }

  .gallery-slider-right {
    right: -20px;
  }

  .gallery-scroll {
    padding: 60px 15px;
  }
}

@media screen and (max-width: 479px) {
  h1 {
    font-size: 60px;
    line-height: 70px;
  }

  h3 {
    font-size: 16px;
  }

  .section.center {
    padding-bottom: 10vh;
  }

  .hero {
    padding-left: 0;
    padding-right: 0;
  }

  .nav-inner {
    width: 100vw;
  }

  .feature-content {
    width: auto;
  }

  .feature-content.icons.numbers {
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
  }

  .button.contact {
    width: 100%;
    margin-top: 10px;
    margin-left: 0;
  }

  .wrap {
    padding-left: 5vw;
    padding-right: 5vw;
  }

  .image-2 {
    width: 100%;
  }

  .button-wrap {
    width: 90vw;
    flex-direction: column;
  }

  .hero-image {
    width: 80%;
  }

  .feature-wrap, .feature-wrap.reverse {
    flex-direction: column;
  }

  .feature-image {
    width: auto;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .feature-icon {
    margin-bottom: 20px;
  }

  .form-2 {
    width: 90vw;
    flex-direction: column;
  }

  .quote-slider {
    width: 100vw;
    padding-left: 5vw;
    padding-right: 5vw;
  }

  .slider-arrow {
    font-size: 24px;
  }

  .left-arrow, .right-arrow {
    width: 15vw;
  }

  .number {
    font-size: 40px;
  }

  .heading-3 {
    font-size: 42px;
    line-height: 56px;
  }

  .container {
    max-width: none;
  }

  .nav-menu-three {
    flex-direction: column;
  }

  .container-2 {
    max-width: none;
  }

  .gallery-wrapper {
    grid-template-columns: 1fr;
  }

  .gallery-slide-wrapper {
    max-width: 100%;
    margin-right: 0%;
  }

  .gallery-slider-left {
    left: -20px;
  }

  .gallery-slider-right {
    right: -20px;
  }
}

#w-node-_13ba2f34-e794-275d-c09d-d7c43e0c3311-8e5bafaf {
  grid-area: Area-2;
  align-self: center;
}

#w-node-_43a43850-1d6b-5148-e758-f70a2fb84d09-8e5bafaf {
  grid-area: Area;
}

#w-node-_054a68d8-40f4-6c1f-dd85-8dae69826b12-8e5bafaf {
  grid-area: Area-4;
}

#w-node-_9543ebe5-b6bf-7828-a498-f74e6f6bff99-8e5bafaf {
  grid-area: span 1 / span 1 / span 1 / span 1;
}


